body {
    background-color: rgb(171,161,150);
    overflow-x: hidden;
}

html { scroll-behavior: smooth; } 

.warning {
  display: none;
}

.artsuh {
  display: flex;
    justify-content: center;
    gap: 30px;
}


.images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.images2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header {
    user-select: none;
    padding: 60px;
    text-align: center;
    background: none;
    color: white;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .texts {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    user-select: none;
  }


  .texts2 {
    margin-right: 625px;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    user-select: none;
  }

  .texts4 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    user-select: none;
  }

  .texts3 {
    position: absolute;
    margin-top: 700px;
    margin-left: 300px;
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    user-select: none;
  }

  .buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
  }

  .button1 {
    background: none;
    border: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: large;
    cursor: pointer;
  }

  .start {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border: none;
    background: none;
    color: white;
    font-size: x-large;
    cursor: pointer;
    text-decoration: underline;
  }

  .startbutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark {
    display: flex;
    justify-content: left;
  }

  .dark2 {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size:small;
    cursor: pointer;
    margin-top: -290px;
  }

  .dark3 {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size:small;
    cursor: pointer;
    margin-top: -6px;
  }

  .pookie {
    text-decoration: none;
    color: white;
  }

  .paypal {
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-decoration: underline;
  }

  .prices {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pookietext {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: none;
    position: absolute;
    margin-top: -180px;
    margin-left: 35px;
  }

  .minipookie {
    display: none;
    margin-top: -345px;
    margin-left: -50px;
    position: absolute;
    height: 350px;
    animation: MoveUpDown 0.1s linear 1;
  }

  .dropdown {
    display: none;
  }

  @keyframes MoveUpDown {
    0% {
      bottom: 435px;
      opacity: 0;
      display: none;
    }
    100% {
      bottom: 440px;
      opacity: 1;
    }
  }

  .furry {
    margin-top: 80px;
  }

  .chibiagain {
    display: none;
  }

  @media screen and (min-width: 1px) and (max-width: 640px)
  { 

    body {
      background-color: rgb(171,161,150);
      overflow-x: hidden;
  }


    .dark {
      display: flex;
      justify-content: left;
    }
  
    .dark2 {
      position: absolute;
      background: none;
      border: none;
      color: white;
      font-family:Georgia, 'Times New Roman', Times, serif;
      text-decoration: underline;
      font-size:small;
      cursor: pointer;
      margin-top: -280px;
    }

    .hi {
      margin-top: -80px;
    }

    .images2 {
      display: flex;
    justify-content: center;
    gap: 30px;
    }
    
    .art2 {
      margin-left: 150px;
    }

    .buttons {
    display: none;
    }

    .vonal {
   display: none;
   }

   .images2 {
   display: flex;
   justify-content: center;
    gap: 30px;
   }

    .art5 {
      position: absolute;
    height: 200px;
    width: 100px;
    
    }
  
    .art1 {
      position: absolute;
      margin-top: 425px;
    }

   .kell {
    margin-top: 450px;
   }
    
  
    .art6 {
     height: 200px;
     margin-top: 425px;
     width: 100px;
     }

  }



  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }




.art2 {
  height: 500px;
    width: 170px;
    margin-right: 400px;
}


.chibiagain {
  display: block;
}

.chibi {
display: none;
}

.texts3 {
  margin-left: 180px;
  margin-top: 500px;
}


.art3 {
  height: 400px;
  width: 200px;
}


.art1 {
  height: 400px;
  width: 200px;
 
}


.art5 {
  height: 400px;
  width: 200px;
}


.furry {
  margin-top: 50px;
}

.art6 {
  height: 400px;
  width: 200px;
}



  @media screen and (min-width: 0px) and (max-width: 250px)
  { 
    
.everything {
  display: none;
}

.warning {
  display: block;
  text-align: center;
  user-select: none;
  padding: 60px;
  text-align: center;
  background: none;
  color: white;
  font-size: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

  }