body {
    background-color: rgb(125, 222, 254);
    overflow-x: hidden;
}

html { scroll-behavior: smooth; } 

.warning {
  display: none;
}

.artsuh {
  display: flex;
    justify-content: center;
    gap: 0px;
    gap: 30px;
}
.art1 {
    height: 800px;
    width: 500px;
}

.art2 {
    height: 500px;
    width: 500px;
    margin-right: 400px;
}

.art3 {
    height: 800px;
    width: 500px;
}


.art5 {
    height: 735px;
    width: 500px;
}

.art6 {
    height: 735px;
    width: 500px;
}


.images {
    display: flex;
    justify-content: center;
}

.images2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header {
    user-select: none;
    padding: 60px;
    text-align: center;
    background: none;
    color: white;
    font-size: 30px;
    font-family: cursive;
  }

  .texts {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: larger;
    user-select: none;
  }


  .texts2 {
    margin-right: 625px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: larger;
    user-select: none;
  }

  .texts4 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: larger;
    user-select: none;
  }

  .texts3 {
    position: absolute;
    margin-top: 700px;
    margin-left: 300px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size:x-large;
    user-select: none;
  }

  .buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
  }

  .button1 {
    background: none;
    border: none;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-size: large;
    cursor: pointer;
  }

  .start {
    font-family: cursive;
    background-color: white;
    border: none;
    background: none;
    color: white;
    font-size: x-large;
    cursor: pointer;
    text-decoration: underline;
  }

  .startbutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark {
    display: flex;
    justify-content: left;
  }

  .dark2 {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-size:small;
    cursor: pointer;
    margin-top: -290px;
  }

  .dark3 {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-size:small;
    cursor: pointer;
    margin-top: -6px;
  }

  .pookie {
    text-decoration: none;
    color: white;
  }

  .paypal {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: x-large;
    text-decoration: underline;
  }

  .prices {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pookietext {
    font-family: 'Fredoka One', cursive;
    color: white;
    display: none;
    position: absolute;
    margin-top: -180px;
    margin-left: 35px;
  }

  .minipookie {
    display: none;
    margin-top: -345px;
    margin-left: -50px;
    position: absolute;
    height: 350px;
    animation: MoveUpDown 0.1s linear 1;
  }

  .dropdown {
    display: none;
  }

  @keyframes MoveUpDown {
    0% {
      bottom: 435px;
      opacity: 0;
      display: none;
    }
    100% {
      bottom: 440px;
      opacity: 1;
    }
  }

  .furry {
    margin-top: 80px;
  }

  .chibiagain {
    display: none;
  }

  @media screen and (min-width: 1px) and (max-width: 640px)
  { 

    .dark {
      display: flex;
      justify-content: left;
    }
  
    .dark2 {
      position: absolute;
      background: none;
      border: none;
      color: white;
      font-family: cursive;
      text-decoration: underline;
      font-size:small;
      cursor: pointer;
      margin-top: -210px;
    }



    .artsuh {
      display: flex;
        justify-content: center;
        gap: 0px;
        gap: 30px;
    }
    .art1 {
        height: 800px;
        width: 500px;
    }
    
    .art3 {
        height: 800px;
        width: 500px;
    }


    
    

    body {
      background-color: rgb(125, 222, 254);
      overflow-x: hidden;
  }

  .vonal {
    display: none;
  }

  .buttons {
    display: none;
  }

  .header {
    text-align: center;
  }


.hi {
  margin-top: -80px;
}

.art2 {
  margin-left: 150px;
}



.chibiagain {
  display: block;
}

.chibi {
display: none;
}

.texts3 {
  margin-left: 180px;
  margin-top: 500px;
}


.art5 {
  height: 300px;
  width: 200px;
}


.furry {
  margin-top: 50px;
}

.art6 {
  height: 300px;
  width: 207px;
  margin-left: -30px;
}

  }

  @media screen and (min-width: 0px) and (max-width: 250px)
  { 
.everything {
  display: none;
}

.warning {
  display: block;
  text-align: center;
  user-select: none;
  padding: 60px;
  text-align: center;
  background: none;
  color: white;
  font-size: 10px;
  font-family: cursive;
}

  }